[submodule "thirdparty/tinyobjloader"]
	path = thirdparty/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "thirdparty/littlevk"]
	path = thirdparty/littlevk
	url = https://github.com/iveevi/littlevk.git
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui
[submodule "thirdparty/glslang"]
	path = thirdparty/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "thirdparty/stb"]
	path = thirdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "thirdparty/nativefiledialog-extended"]
	path = thirdparty/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended
[submodule "thirdparty/freetype"]
	path = thirdparty/freetype
	url = https://github.com/freetype/freetype
